<div class="w-[270px] bg-white flex flex-col border-r border-zinc-100 items-center h-screen justify-center fixed z-20">
    <div class="text-4xl font-bold text-gray-800 mb-8 flex items-center">
        <span class="mr-2">Wal</span>
        <span class="text-green-500">let</span>
    </div>
    <nav class="text-xl">
        <ul class="space-y-4">
            <li>
                <NavLink href="dashboard" class="text-gray-700 flex items-center" active-class="text-red-500 font-bold">
                    Dashboard
                </NavLink>
            </li>
            <li>
                <NavLink href="mywallet" class="text-gray-700 flex items-center" active-class="text-red-500 font-bold">
                    My Wallet
                </NavLink>
            </li>
            <li>
                <NavLink href="transation" class="text-gray-700 flex items-center" active-class="text-red-500 font-bold">
                    Transactions
                </NavLink>
            </li>
            <li>
                <NavLink href="settings" class="text-gray-700 flex items-center" active-class="text-red-500 font-bold">
                    Settings
                </NavLink>
            </li>
        </ul>
    </nav>

    <div>
        Logout
    </div>
</div>
